<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    {{>navbar}}

    <div class="container d-flex justify-content-center flex-column py-5  align-items-center  h-100  w-100 ">
        <h1 class="text-xl-center py-2  ">About Us</h1>

        <p class="p-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quibusdam eaque perferendis tempora quos, aliquam, labore deserunt fuga minus nulla excepturi aperiam quo perspiciatis ad voluptatibus maiores quae ipsa eveniet dolorem ipsam. Natus aliquam beatae non tempore quod perspiciatis quae omnis distinctio? Enim excepturi illum eius dolorum temporibus dolores officia quam modi iure neque, reprehenderit quisquam ipsum voluptatum nihil similique velit quis aut repellat rem quibusdam eos amet, deserunt maxime earum. Consectetur commodi, aut harum facere nemo sapiente quisquam velit totam aliquam minus, beatae neque at quod dignissimos. Esse, unde nesciunt? Molestias provident quisquam enim pariatur recusandae. Molestias placeat quo ex eveniet totam, sed illo velit nobis obcaecati vero expedita quisquam id iusto? Ut sunt incidunt vero iusto commodi culpa fugiat nulla dignissimos temporibus molestiae, veniam possimus perferendis ullam, accusantium architecto voluptates id deleniti maiores, ex corporis. Exercitationem saepe dolore itaque nostrum necessitatibus voluptatibus quas similique eius omnis tenetur, aut at iure molestias, amet mollitia maiores eveniet, voluptatem accusantium debitis quidem repellat ex optio. Harum sequi modi sapiente, explicabo, pariatur sit deleniti voluptatibus error est doloremque aliquid magnam quisquam id quasi optio. Ad adipisci, impedit odio laudantium, assumenda ut nulla eos soluta qui iusto aperiam earum praesentium. Accusantium, similique repudiandae?</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>